# 파이썬 기초 문법

## 1. 변수와 자료형

### 1) 변수란 무엇인가?
- **변수(variable)** 는 **값(데이터)을 저장해두는 상자**와 같음  
- 컴퓨터가 기억해야 할 값을 이름을 붙여 보관하는 것
- 한 번 저장해두면, 필요할 때 변수 이름을 불러서 재사용할 수 있음

예시:  
- 수학에서 `x = 5` 라고 하면, `x`라는 이름에 5라는 값이 들어있다고 이해  
- 프로그래밍에서도 같은 개념으로 `x`에 5를 넣고, 나중에 다시 꺼내 쓸 수 있음

### 2) 파이썬 변수 사용법
- 변수 이름 = 저장할 값  
- `=` 기호는 **같다(equal)** 가 아니라 **저장한다(assign)** 의 의미  

```python
x = 5       # 숫자 5를 x라는 변수에 저장
y = 10      # 숫자 10을 y라는 변수에 저장
name = "철수"  # 문자열 "철수"를 name이라는 변수에 저장

print(x)       # 5 출력
print(name)    # 철수 출력

### 3) 파이썬의 자료형 (Data Type)

변수에는 다양한 형태의 데이터가 저장될 수 있음. 대표적인 자료형은 다음과 같음:

- int : 정수형 (예: 10, -3)
- float : 실수형, 소수점 포함 (예: 3.14, -2.5)
- str : 문자열, 문자들의 집합 (예: "Hello", "Python")
- bool : 불리언, 참(True) 또는 거짓(False)

### 4) 자료형 변환 (Type Casting)

서로 다른 자료형을 변환할 수 있음.

- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자열로 변환
- bool() : 불리언으로 변환

In [ ]:
# 변수 예시
a = 10        # 정수
b = 3.14      # 실수
c = "Hello"   # 문자열
d = True      # 불리언

print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

In [ ]:
x = "100"     # 문자열
y = int(x)    # 문자열을 정수로 변환
z = float(x)  # 문자열을 실수로 변환

print(x, type(x))  # "100" <class 'str'>
print(y, type(y))  # 100 <class 'int'>
print(z, type(z))  # 100.0 <class 'float'>

## 2. 연산자
- 산술 연산자: `+`, `-`, `*`, `/`, `//`, `%`, `**`
- 비교 연산자: `==`, `!=`, `>`, `<`, `>=`, `<=`
- 논리 연산자: `and`, `or`, `not`

In [ ]:
x, y = 7, 3

print(x + y)   # 덧셈
print(x // y)  # 몫
print(x % y)   # 나머지
print(x ** y)  # 제곱

print(x > y)   # 비교
print(x == y)

print((x > 5) and (y < 5))  # 논리 연산

### ✍️ 복습 문제

### 문제 1. 변수 할당
파이썬에서 변수 `x`에 숫자 10을 할당하고 출력하세요.  

<details>
<summary>정답 보기</summary>

```python
x = 10
print(x)
````

In [ ]:
# 여기에 코드를 작성하세요

### 문제 2. 여러 변수 동시 할당

파이썬에서 변수 a, b에 각각 5와 15를 동시에 할당하세요.

<details> <summary>정답 보기</summary>

a, b = 5, 15  
print(a, b)

</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 3. 변수 선언과 출력
아래 조건에 맞게 변수를 만들고 출력해보세요.  
- 정수 변수 `age`에 본인의 나이를 저장  
- 문자열 변수 `name`에 본인의 이름을 저장  
- 두 변수를 함께 출력하여 `"저는 OOO이고, 나이는 XX살입니다."` 형태로 나오도록 하세요.

In [ ]:
# 여기에 코드를 작성하세요

### 문제 4. 자료형 확인

변수 s = "Python"의 자료형을 확인하세요.

<details> <summary>정답 보기</summary>

```python
s = "Python"
print(type(s))
```
</details>

### 문제 5. 자료형 변환

변수 num = "123"을 정수형으로 변환하세요.

<details> <summary>정답 보기</summary>

```python
num = "123"
num = int(num)
print(num, type(num))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
num = 123

### 문제 6. 연산자 연습
정수 변수 `a = 15`, `b = 4`를 선언한 후, 아래 결과를 출력하세요.  
1. a를 b로 나눈 **몫**  
2. a를 b로 나눈 **나머지**  
3. a가 b보다 큰지 비교한 결과 (True/False)

In [ ]:
# 여기에 코드를 작성하세요

### 문제 7. 비교 연산자

변수 x = 10, y = 20일 때, x < y와 x == y의 결과를 출력하세요.

<details> <summary>정답 보기</summary>

```python
x, y = 10, 20
print(x < y)
print(x == y)
```
</details>

### 문제 8. 논리 연산자 활용

변수 `x = 10`, `y = 20`일 때, 아래 식의 결과를 구해보세요.  

1. (x > 5) and (y > 15)  
2. (x < 5) or (y == 20)  
3. not(x == 10)

In [ ]:
# 여기에 코드를 작성하세요

### 문제 9. 문자열 연산

문자열 "Hello"와 "World"를 공백 하나를 두고 이어붙이세요.

<details> <summary>정답 보기</summary>

```python
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)
```
</details>

## 3. 조건문 (if 문)
### 1) 조건문이란?
- 프로그램이 **상황에 따라 다른 행동**을 하도록 만드는 문장.
- 어떤 **조건식**이 참(True)이면 특정 코드를 실행하고, 거짓(False)이면 건너뜁니다.

### 2) 기본 문법(형식)

```python
if 조건식:
    # 조건식이 True일 때 실행되는 코드 블록
elif 다른_조건식:
    # 위 if가 False이고, 이 조건이 True일 때 실행
else:
    # 위 모든 조건이 False일 때 실행
```

- : (콜론)을 잊지 말 것.
- 들여쓰기(Indentation): 블록은 보통 공백 4칸으로 들여쓰기. 탭/스페이스 혼용 금지.
- if, elif, else는 필요한 만큼 쓸 수 있지만, else는 0개 또는 1개만 사용합니다.

### 핵심 정리
- 기본 구조: `if` → (필요 시) `elif` → (선택) `else`
- `:`(콜론)과 **들여쓰기(공백 4칸)** 필수
- 간단한 분기는 **조건부 표현식**으로 한 줄에 가능: `A if 조건 else B`
- 자주 하는 실수: `=`(대입) vs `==`(비교), 콜론 누락, 들여쓰기 오류

In [ ]:
score = 85

if score >= 90:
    print("A 학점")
elif score >= 80:
    print("B 학점")
else:
    print("C 학점 이하")

### 조건문 복습 문제

### 문제 1. 배수 판별 (단일 if)
정수 `n`이 주어졌을 때,  
- `n`이 3의 배수면 `"3의 배수입니다"`  
- `n`이 5의 배수면 `"5의 배수입니다"`  
를 각각 출력하세요.  
(단, 공배수는 고려하지 않고, 해당하는 조건만 따로 출력)

예시)  
- n = 9 → "3의 배수입니다"  
- n = 10 → "5의 배수입니다"

In [ ]:
# 여기에 코드를 작성하세요
n = int(input())

### 문제 2. 배수 판별 (공배수 고려, 중첩 if)
정수 `n`이 주어졌을 때,  
- `n`이 3과 5의 **공배수**라면 `"3과 5의 공배수입니다"`  
- 그렇지 않고 3의 배수라면 `"3의 배수입니다"`  
- 그렇지 않고 5의 배수라면 `"5의 배수입니다"`  
를 출력하세요.  

힌트: `if` 안에 `if`를 넣어 중첩 조건문을 사용해보세요.

In [ ]:
# 여기에 코드를 작성하세요
n = int(input())

### 문제 3. 응용: 점수 등급 판별

점수 `score`가 주어졌을 때, 다음 기준으로 학점을 출력하세요.  
- 90점 이상: "A 학점"  
- 80점 이상: "B 학점"  
- 70점 이상: "C 학점"  
- 그 외: "D 학점 이하"

In [ ]:
# 여기에 코드를 작성하세요
score = int(input())

### 한 줄 if문 (조건부 표현식)

파이썬에서는 조건문을 간단하게 한 줄로 표현할 수 있습니다.  
형식은 다음과 같습니다:

```python
값_if_참일때 if 조건 else 값_if_거짓일때
```

즉, 조건이 참(True) 이면 앞의 값을, 거짓(False) 이면 뒤의 값을 반환합니다.
일반적인 if-else 문을 짧게 줄여 쓸 때 유용합니다.

예시 : 
```python
a = 2
print(True if a>3 else False) # 출력 : False
```

### 문제 4. 한 줄 if문 기본

변수 x = 7일 때, x가 10 이상이면 "크다", 아니면 "작다"를 출력하는 한 줄 if문을 작성하세요.

<details> <summary>정답 보기</summary>

```python
x = 7
print("크다" if x >= 10 else "작다")
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
x = 7

### 문제 5. 홀짝 판별

변수 n = 13일 때, n이 짝수면 "Even", 홀수면 "Odd"를 출력하는 한 줄 if문을 작성하세요.

<details> <summary>정답 보기</summary>

```python
n = 13
print("Even" if n % 2 == 0 else "Odd")
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
n = 13

## 4. 반복문
### 1) 반복문이란?
- 프로그램에서 **같은 동작을 여러 번 반복**하고 싶을 때 사용.
- 일일이 코드를 여러 줄 작성하지 않고, 반복문을 이용하면 짧고 효율적으로 작성 가능.

예시:  
- "안녕하세요"를 5번 출력하기  
- 1부터 10까지 숫자 합 구하기  
- 리스트 안의 모든 원소를 하나씩 처리하기


#### for 문
- **정해진 횟수**만큼 반복할 때 사용.
- `range()` 함수와 함께 자주 사용.

#### 기본 문법
```python
for 변수 in 반복할_대상:
    실행할 코드
```

- 반복할_대상에는 리스트, 문자열, range() 등이 올 수 있음.
- 매 반복마다 변수가 순서대로 바뀌며 실행됨.

In [ ]:
# 1부터 5까지 출력
for i in range(1, 6):   # 1 이상 6 미만
    print(i)

# 리스트 순회
fruits = ["apple", "banana", "cherry"]
for f in fruits:
    print(f)

#### 3) while 문

조건식이 True인 동안 계속 반복.

조건이 False가 되면 반복 종료.

```python
while 조건식:
    실행할 코드
```

**조건을 잘못 주면 무한 루프에 빠질 수 있으니 주의.**

#### 예시
```python
n = 1
while n <= 5:
    print("카운트:", n)
    n += 1   # n이 계속 커져야 반복이 끝남
```

### 4) 반복 제어 키워드

break : 반복문을 즉시 종료

continue : 이번 반복만 건너뛰고 다음 반복으로 진행

```python
# break 예시
for i in range(1, 10):
    if i == 5:
        break
    print(i)   # 1, 2, 3, 4만 출력

# continue 예시
for i in range(1, 6):
    if i == 3:
        continue
    print(i)   # 1, 2, 4, 5 출력
```

#### 5) 참고 : for vs while 선택 기준

**반복 횟수가 명확히 정해진 경우 → for**  
**조건에 따라 반복을 계속해야 하는 경우 → while**

-> 반드시 위 내용대로 정할 필요는 없음

#### 6) 자주 하는 실수

while에서 증가식/종료 조건을 빼먹어 무한 루프 발생

range(1, 6)은 1~6까지가 아니라 1 이상 6 미만

for문에서 들여쓰기 실수 → 반복 안 되거나 에러 발생

### 반복문 복습 문제

### 문제 1. 구구단 출력 (for 문)
정수 `n`을 입력받아, 해당 구구단을 출력하세요.  
예시) n = 3  
3 x 1 = 3  
3 x 2 = 6  
...
3 x 9 = 27

In [ ]:
# 여기에 코드를 작성하세요
n = 3

### 문제 2. 짝수의 합 구하기 (while 문)
1부터 100까지의 정수 중에서 **짝수의 합**을 while 문으로 구하세요.  
출력 예시) `1부터 100까지 짝수의 합은 2550입니다.`

### 문제 3. break와 continue 연습
1부터 10까지 숫자를 출력하는데,  
- 5에서 멈추도록(`break`) 하세요.  
- 단, 3은 건너뛰고(`continue`) 출력하지 않도록 하세요.

In [ ]:
# 여기에 코드를 작성하세요
n = 3

## 5. 함수
### 1) 함수란 무엇인가?
- **반복되는 코드를 묶어서 이름을 붙여둔 것**
- 한 번 정의해두면 필요할 때마다 **호출(call)** 해서 재사용 가능
- 코드를 **짧고 간결**하게 만들고, **유지보수**도 쉬워짐

### 2) 함수 정의와 호출

#### 기본 문법
```python
def 함수이름(매개변수):
    실행할 코드
    return 결과값
```

- `def` : 함수를 정의할 때 사용하는 키워드

- `매개변수(parameter)` : 함수에 전달되는 값(선택적)

- `return`: 결과를 함수 바깥으로 돌려줌 (없으면 None 반환)



<img src="image/function.png">  

이미지 출처 : https://www.houseofmath.com/encyclopedia/functions/theory-of-functions/fundamentals-of-functions/what-is-the-definition-of-a-function


#### 자주 하는 실수

return을 빼먹고 함수 내부에서 출력만 함  
→ 출력은 되지만 결과값은 None 반환

함수 정의만 하고 호출을 안 함  
→ 함수는 실행되지 않음

들여쓰기 오류  
→ 함수 내부 코드는 반드시 들여쓰기 필요

In [ ]:
# 예시
def add(x, y):
    return x + y

print(add(3, 5))
print(add(10, 20))

def greet(name):
    return f"안녕하세요, {name}님!"

print(greet("철수"))

### 3) 익명 함수 (lambda)

이름 없는 간단한 함수 정의할 때 사용

lambda 매개변수: 표현식

In [ ]:
# 예시
square = lambda x: x**2
print(square(5))   # 25

### 4) 여러 인자를 받는 *, ** 문법

파이썬에서는 함수가 가변 개수의 인자를 받을 수 있도록 *args, **kwargs 문법을 제공합니다.

`*args`

여러 개의 위치 인자를 튜플(tuple) 형태로 받음

인자의 개수를 미리 정하지 않아도 됨

```python
def add_all(*args):
    return sum(args)

print(add_all(1, 2, 3))       # 6
print(add_all(4, 5, 6, 7, 8)) # 30
```

`**kwargs`

여러 개의 키워드 인자를 딕셔너리(dict) 형태로 받음

함수 호출 시 key=value 형식으로 전달
```python
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")

print_info(name="Alice", age=25, city="Seoul")
# name : Alice
# age : 25
# city : Seoul
```

👉 *args와 **kwargs를 함께 쓰면, 위치 인자와 키워드 인자를 동시에 유연하게 처리할 수 있음.

### ✍️함수 복습 문제

### 문제 1. 함수 기본
두 숫자를 입력받아 더한 값을 반환하는 함수 `add_numbers(a, b)`를 작성하세요.  
함수를 정의하고, 임의의 두 숫자로 호출하여 결과를 출력하세요.

<details> <summary>정답 보기</summary>

```python
def add_numbers(a,b):
    return a+b

print(add_numbers(2,3))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 2. 제곱 계산
람다함수를 이용하여 입력된 숫자의 제곱을 계산하는 함수를 작성하고, 임의의 숫자로 실행하세요.  

<details>
<summary>정답 보기</summary>

```python
square = lambda x: x**2
print(square(6))
```
</details>

### 문제 3. 문자열 길이 함수

문자열을 입력받아 문자열의 길이를 반환하는 함수 str_length(s)를 작성하세요.

<details> <summary>정답 보기</summary>

```python
def str_length(s):
    return len(s)

print(str_length("Python"))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 4. 조건부 표현

숫자를 입력받아 짝수면 "Even", 홀수면 "Odd"를 반환하는 람다함수를 작성하세요.

<details> <summary>정답 보기</summary>

```python
even_odd = lambda n: "Even" if n % 2 == 0 else "Odd"
print(even_odd(11))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 5. 가변 인자 합계
`*args`를 사용하여 여러 숫자를 받아 모두 더한 결과를 반환하는 함수 `add_all`을 작성하세요.  
단, 함수는 `lambda`를 사용해 구현하세요.  

<details>
<summary>정답 보기</summary>

```python
add_all = lambda *args: sum(args)
print(add_all(1, 2, 3, 4, 5))
```
</details>

### 문제 6. 최댓값 찾기
가변 인자 *args로 여러 숫자를 입력받아 그중 최댓값을 반환하는 람다 함수를 작성하세요.

<details> <summary>정답 보기</summary>

```python
max_value = lambda *args: max(args)
print(max_value(3, 7, 2, 9, 5))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
max_value = None
print(max_value(3, 7, 2, 9, 5))

### 문제 7. 딕셔너리 병합

**args를 사용하여 여러 개의 키워드 인자를 받아 딕셔너리로 반환하는 함수 merge_dicts를 작성하세요.
동일한 키가 들어오면 나중 값으로 덮어쓰세요.

<details> <summary>정답 보기</summary>

```python
def merge_dicts(**args):
    return args

print(merge_dicts(a=1, b=2, c=3))
print(merge_dicts(name="Bob", age=30, city="Busan"))
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 1. 키워드 인자 소개  
`**args`를 사용하여 전달된 키워드 인자들을 `"key : value"` 형식으로 한 줄씩 출력하는 함수 `print_info`를 작성하세요.  

<details>
<summary>정답 보기</summary>

```python
def print_info(**args):
    for key, value in args.items():
        print(f"{key} : {value}")

print_info(name="Alice", age=25, city="Seoul")
# name : Alice
# age : 25
# city : Seoul
```

In [ ]:
# 여기에 코드를 작성하세요
def print_info():
    None

print_info(name="Alice", age=25, city="Seoul")

## 6. 리스트, 딕셔너리, 튜플

### 1) 리스트(List)
- 여러 값을 하나의 변수에 순서대로 저장할 수 있는 자료형
- 대괄호 `[ ]`로 묶어 표현
- 순서(인덱스)가 있어서 **위치로 접근** 가능 (인덱스는 0부터 시작)

#### 주요 메서드
- `append(값)` : 맨 뒤에 값 추가
- `insert(위치, 값)` : 원하는 위치에 값 삽입
- `remove(값)` : 해당 값을 찾아 삭제 (첫 번째 것만 삭제)
- `pop([위치])` : 특정 위치의 값을 꺼내고 삭제 (인덱스 미지정 시 마지막 원소 제거)
- `count(값)` : 리스트 안에서 해당 값의 개수를 반환
- `sort()` : 오름차순 정렬 (내림차순 정렬은 sort(reverse=True))

#### 인덱싱(Indexing)과 슬라이싱(Slicing)

인덱싱 : 특정 위치(인덱스)의 값을 가져오기 → 리스트[위치]

슬라이싱 : 리스트의 일부 구간을 잘라내기 → 리스트[시작:끝:간격]

In [ ]:
# 리스트 생성
fruits = ["apple", "banana", "cherry", "apple", "banana", "grape"]
print("처음 리스트:", fruits)

In [ ]:
# 인덱스로 접근 (Indexing)
print("첫 번째 원소:", fruits[0])    # apple
print("마지막 원소:", fruits[-1])   # grape

In [ ]:
# 슬라이싱 (Slicing)
print("0~2번 인덱스:", fruits[0:3])   # ['apple', 'banana', 'cherry']
print("2번 이후:", fruits[2:])       # ['cherry', 'apple', 'banana', 'grape']
print("0~끝까지 2칸 간격:", fruits[::2])  # ['apple', 'cherry', 'banana']

In [ ]:
# append : 맨 뒤에 추가
fruits.append("melon")
print("append 후:", fruits)

In [ ]:
# insert : 원하는 위치에 삽입
fruits.insert(1, "orange")
print("insert 후:", fruits)

In [ ]:
# remove : 특정 값 삭제
fruits.remove("banana")  # 첫 번째 "banana" 삭제
print("remove 후:", fruits)

In [ ]:
# pop : 외부로 값 꺼내기
item = fruits.pop()   # 마지막 원소 제거
print("pop으로 꺼낸 값:", item)
print("pop 후:", fruits)

In [ ]:
# del : 특정 위치 삭제
del fruits[0]    # 0번 인덱스 삭제
print("del 후:", fruits)

In [ ]:
# count : 특정 값 개수 세기
print("apple 개수:", fruits.count("apple"))

In [ ]:
# sort : 정렬
numbers = [5, 2, 9, 1, 7]
numbers.sort()
print("오름차순 정렬:", numbers)
numbers.sort(reverse=True)
print("내림차순 정렬:", numbers)

### 2) 딕셔너리(Dictionary)
- 데이터를 **키(key) : 값(value)** 형태로 저장
- 중괄호 `{ }`로 표현
- 키를 이용해 값에 접근

#### 특징
- 리스트는 "순서"로 값에 접근, 딕셔너리는 "이름(키)"로 값에 접근
- 키는 고유해야 하며, 중복 불가

In [ ]:
# 딕셔너리 생성
student = {"name": "홍길동", "age": 20, "major": "컴퓨터공학"}
print("딕셔너리 전체:", student)

# 키로 값 접근
print("이름:", student["name"])

# 값 수정
student["age"] = 21
print("나이 수정 후:", student)

# 새로운 키-값 추가
student["grade"] = "A"
print("새 항목 추가 후:", student)

# 특정 키 삭제
del student["major"]
print("삭제 후:", student)

### 3) 튜플(Tuple)
- 리스트와 비슷하지만, **한 번 정의하면 변경 불가능(immutable)**  
- 소괄호 `( )`로 묶어 표현  
- 값 수정, 추가, 삭제 불가 → 주로 고정된 데이터를 저장할 때 사용  

```python
# 튜플 생성
numbers = (1, 2, 3, 4)

# 인덱스로 접근
print("첫 번째 원소:", numbers[0])   # 1

# 변경 불가능 확인
# numbers[0] = 10   # 오류 발생 (튜플은 수정 불가)

# 튜플 언패킹
a, b, c, d = numbers
print("언패킹:", a, b, c, d)
```

### ✅ 핵심 정리
- **리스트** : `[ ]`, 순서가 있고 인덱스로 접근  
  → 주요 메서드 : `append`, `insert`, `remove`  

- **딕셔너리** : `{ }`, 키-값 쌍으로 저장, 키로 접근  
  → 수정, 추가, 삭제 가능  

- **튜플** : `( )`, 순서가 있으나 **값 변경 불가**  
  → 주로 변경되면 안 되는 데이터 저장

### ✍️ 리스트 & 딕셔너리 복습 문제

### 문제 1. 리스트 생성과 인덱싱  
다음 리스트를 생성하고, 인덱스를 이용해 값을 출력하시오.  

```python
fruits = ["apple", "banana", "cherry", "grape"]
```
- 첫 번째 원소 출력  
- 마지막 원소 출력  
- 2번째 원소(`banana`)를 출력  

<details>
<summary>정답 보기</summary>

```python
print(fruits[0])   # apple
print(fruits[-1])  # grape
print(fruits[1])   # banana
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
fruits = ["apple", "banana", "cherry", "grape"]

### 문제 2. 리스트 조작
다음 단계에 맞게 리스트를 완성하세요.  

1. 빈 리스트 `numbers`를 만든다.  
2. `append`를 사용하여 10, 20, 30을 차례대로 추가한다.  
3. `insert`를 사용하여 1번 위치에 15를 추가한다.  
4. `remove`를 사용하여 20을 삭제한다.  
5. 최종 결과를 출력한다.  

<details>
<summary>정답</summary>

```python
numbers = []

numbers.append(10)
numbers.append(20)
numbers.append(30)
numbers.insert(1, 15)
numbers.remove(20)

print(numbers)   # 실행 예시: [10, 15, 30]
```

In [ ]:
# 여기에 코드를 작성하세요
numbers = []

### 문제 3. 딕셔너리 정보 관리
학생 정보를 딕셔너리로 만들어보세요.  

1. `student`라는 딕셔너리를 만들고, 이름(name), 나이(age), 전공(major)을 저장한다.  
2. 나이를 1 증가시킨다.  
3. 새로운 키 `grade`를 추가하고 `"A"`를 저장한다.  
4. 딕셔너리를 출력한다.  

<details>
<summary> 정답</summary>

```python  
# 딕셔너리 생성
student = {"name": "홍길동", "age": 20, "major": "컴퓨터공학"}
print("딕셔너리 전체:", student)

# 키로 값 접근
print("이름:", student["name"])

# 값 수정
student["age"] = 21
print("나이 수정 후:", student)

# 새로운 키-값 추가
student["grade"] = "A"
print("새 항목 추가 후:", student)

# 특정 키 삭제
del student["major"]
print("삭제 후:", student)
```

In [ ]:
# 여기에 코드를 작성하세요
student ={} # 딕셔너리 생성

### 문제 4. 리스트 슬라이싱  
다음 리스트에서 슬라이싱을 이용하여 부분 리스트를 출력하시오.  

```python
numbers = [10, 20, 30, 40, 50, 60]
```

- 인덱스 1~3 범위 출력  
- 처음부터 4번째 원소까지 출력  
- 전체 리스트에서 2칸 간격으로 출력  

<details>
<summary>정답 보기</summary>

```python
print(numbers[1:4])   # [20, 30, 40]
print(numbers[:4])    # [10, 20, 30, 40]
print(numbers[::2])   # [10, 30, 50]
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
numbers = [10, 20, 30, 40, 50, 60]

### 문제 5. 리스트 메서드 활용  
다음 리스트에 대해 메서드를 사용하여 조작하시오.  

```python
fruits = ["apple", "banana", "cherry"]
```

- `append`를 사용해 `"grape"` 추가  
- `insert`를 사용해 1번 위치에 `"orange"` 삽입  
- `remove`를 사용해 `"banana"` 삭제  

<details>
<summary>정답 보기</summary>

```python
fruits.append("grape")
fruits.insert(1, "orange")
fruits.remove("banana")
print(fruits)  # ['apple', 'orange', 'cherry', 'grape']
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
fruits = ["apple", "banana", "cherry"]

### 문제 6. pop과 del  
다음 리스트를 이용해 `pop`과 `del`을 연습하시오.  

```python
items = [1, 2, 3, 4, 5]
```

- `pop()`을 이용해 마지막 원소를 꺼내 출력  
- `del`을 이용해 첫 번째 원소를 삭제  

<details>
<summary>정답 보기</summary>

```python
print(items.pop())  # 5
del items[0]
print(items)        # [2, 3, 4]
```
</details>

In [ ]:
# 여기에 코드를 작성하세요
items = [1, 2, 3, 4, 5]

### 문제 7. count와 sort  
다음 리스트에 대해 `count`와 `sort`를 사용하시오.  

```python
numbers = [4, 2, 7, 4, 9, 4, 1]
```

- 숫자 `4`가 몇 개 있는지 출력  
- 리스트를 오름차순으로 정렬  
- 리스트를 내림차순으로 정렬  

<details>
<summary>정답 보기</summary>

```python
print(numbers.count(4))   # 3
numbers.sort()
print(numbers)            # [1, 2, 4, 4, 4, 7, 9]
numbers.sort(reverse=True)
print(numbers)            # [9, 7, 4, 4, 4, 2, 1]
```
</details>

## 7. 문자열 다루기

### 1) 문자열이란?
- 문자들을 나열한 데이터, `" "` 또는 `' '` 로 묶어 표현
- 예: `"Hello"`, `'Python'`
- 문자열도 **인덱스(위치 번호)** 로 접근 가능 (0부터 시작)


### 2) 인덱싱(Indexing)과 슬라이싱(Slicing)
- **인덱싱**: 문자열에서 특정 위치의 문자 1개를 꺼냄
- **슬라이싱**: 문자열의 일부분을 잘라서 가져옴

```python
text = "Python"
print(text[0])     # 'P' (0번 인덱스)
print(text[-1])    # 'n' (뒤에서 첫 글자)
print(text[0:4])   # 'Pyth' (0번부터 3번까지)
print(text[2:])    # 'thon' (2번부터 끝까지)
print(text[:3])    # 'Pyt' (처음부터 2번까지)
```

| 메서드             | 설명                         | 예시                                        |
| --------------- | -------------------------- | ----------------------------------------- |
| `upper()`       | 대문자로 변환                    | `"hello".upper()` → `"HELLO"`             |
| `lower()`       | 소문자로 변환                    | `"HELLO".lower()` → `"hello"`             |
| `strip()`       | 양쪽 공백 제거                   | `" hello ".strip()` → `"hello"`           |
| `replace(a, b)` | 문자열 a를 b로 교체               | `"banana".replace("a", "o")` → `"bonono"` |
| `split()`       | 공백(또는 지정한 기준)으로 나눠 리스트로 반환 | `"a b c".split()` → `['a','b','c']`       |
| `join(list)`    | 리스트를 특정 구분자로 이어 문자열로 반환    | `"-".join(["a","b","c"])` → `"a-b-c"`     |

4) 문자열 포맷팅
- 문자열 안에 변수를 넣는 방법

In [ ]:
name = "철수"
age = 20

# f-string (가장 많이 사용)
print(f"안녕하세요, 제 이름은 {name}이고 나이는 {age}살입니다.")

In [ ]:
text = "Hello Python"

print(text[0])       # 첫 글자
print(text[0:5])     # 슬라이싱
print(text.upper())  # 대문자 변환
print(text.replace("Python", "World"))

### ✍️ 복습 문제

### 문제 1. 인덱싱과 슬라이싱
문자열 `word = "Programming"`에서  
1. 첫 글자와 마지막 글자를 출력하세요.  
2. 처음 5글자를 잘라서 출력하세요.

### 문제 2. 문자열 메서드 활용
문자열 `text = "   I love Python!   "`이 있을 때,  
1. 앞뒤 공백을 제거하세요.  
2. 모두 소문자로 바꾸세요.  
3. `"Python"`을 `"Java"`로 바꾸세요.  

<details> <summary> 정답 </summary>

```python
text = "   I love Python!   "

print(text.strip())
print(text.lower())
print(text.replace("Python", "Java"))
```

### 문제 3. 문자열 포맷팅
이름을 변수 `name`, 나이를 변수 `age`에 저장하고,  
아래와 같이 출력되도록 f-string을 사용하세요.  

출력 예시:  
`안녕하세요, 제 이름은 영희이고 나이는 22살입니다.`


<details> <summary> 정답 </summary>

```python
name = "영희"
age = 22

print(f"안녕하세요, 제 이름은 {name}이고 나이는 {age}살입니다.")
```

In [ ]:
# 여기에 코드를 작성하세요

### 문제 4. 리스트 메서드 활용
다음 코드를 실행했을 때 최종적으로 출력되는 리스트를 쓰세요.

```python
nums = [1, 3, 5]
nums.append(7)
nums.insert(1, 2)
nums.remove(5)
x = nums.pop()
print(nums, x)
```
<details> <summary> 정답 </summary>

```python 
# nums = [1, 2, 3] , x = 7
[1, 2, 3] 7
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 5. 조건문 응용
사용자로부터 정수를 입력받아 3의 배수이면서 5의 배수이면 "FizzBuzz",
3의 배수이면 "Fizz", 5의 배수이면 "Buzz", 그 외에는 입력값을 출력하는 프로그램을 작성하세요.

<details> <summary> 정답 </summary>

```python 
n = int(input())

if n % 3 == 0 and n % 5 == 0:
    print("FizzBuzz")
elif n % 3 == 0:
    print("Fizz")
elif n % 5 == 0:
    print("Buzz")
else:
    print(n)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 6. 리스트 내포
1부터 10까지의 숫자 중 짝수의 제곱을 리스트로 생성하세요.

<details> <summary> 정답 </summary>

```python 
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(squares)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 7. 딕셔너리 기초
다음 딕셔너리에서 "math" 점수를 5점 올리고, "science" 항목을 삭제하세요.

```python 
scores = {"math": 80, "english": 75, "science": 92}
```

<details> <summary> 정답 </summary>

```python 
scores["math"] += 5
del scores["science"]
print(scores)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 8. 함수 작성
정수를 인자로 받아 절댓값을 반환하는 함수를 직접 작성하세요. (abs 내장 함수 사용 금지)

<details> <summary> 정답 </summary>

```python 
def my_abs(x):
    if x < 0:
        return -x
    return x

print(my_abs(-5))  # 5
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 9. 리스트와 조건문
다음 리스트에서 양수만 새로운 리스트로 담으세요.

```python 
nums = [-5, 3, 0, -2, 7, 8, -1]
```
<details> <summary> 정답 </summary>

```python 
positive = [x for x in nums if x > 0]
print(positive)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 10. 함수와 기본값
함수를 작성하세요.

이름: greet

매개변수: name, msg="안녕하세요"

출력: "안녕하세요, name!"

<details> <summary> 정답 </summary>

```python 
def greet(name, msg="안녕하세요"):
    print(f"{msg}, {name}!")

greet("철수")
greet("영희", "반가워요")
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 11. 리스트와 pop
아래 코드의 실행 결과를 쓰세요.

```python 
nums = [10, 20, 30, 40]
a = nums.pop()
b = nums.pop(0)
print(nums, a, b)
```
<details> <summary> 정답 </summary>

```python 
# nums = [20, 30], a = 40, b = 10
[20, 30] 40 10
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 12. 조건문과 리스트
사용자로부터 점수(0~100)를 입력받아
90 이상: "A"
80 이상: "B"
70 이상: "C"
그 외: "F"
를 출력하는 프로그램을 작성하세요.

<details> <summary> 정답 </summary>

```python 
score = int(input())

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 13. 리스트 중첩
다음 2차원 리스트에서 모든 원소를 하나의 리스트로 합치세요.

```python 
matrix = [[1, 2], [3, 4], [5, 6]]
```
<details> <summary> 정답 </summary>

```python 
flat = [x for row in matrix for x in row]
print(flat)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 14. 딕셔너리 생성
리스트 두 개를 이용하여 딕셔너리를 만드세요.

```python 
keys = ["name", "age", "city"]
values = ["Tom", 20, "Seoul"]
```

<details> <summary> 정답 </summary>

```python 
person = dict(zip(keys, values))
print(person)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 15. 람다와 정렬
다음 리스트를 문자열 길이에 따라 정렬하세요.

```python 
words = ["apple", "kiwi", "banana", "cherry"]
```
<details> <summary> 정답 </summary>
 
```python 
words.sort(key=lambda x: len(x))
print(words)
```
</details>

In [ ]:
words = ["apple", "kiwi", "banana", "cherry"]

### 문제 16. 반복문과 합계
1부터 100까지 홀수의 합을 구하는 프로그램을 작성하세요.

<details> <summary> 정답 </summary>
```python  
total = 0
for i in range(1, 101, 2):
    total += i
print(total)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 17. 람다 함수
리스트 [1, 2, 3, 4, 5]에서 각 원소를 제곱한 새로운 리스트를 map과 lambda를 사용하여 만드세요.

<details> <summary> 정답 </summary>

```python 
nums = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, nums))
print(squares)
```
</details>

In [ ]:
# 여기에 코드를 작성하세요

### 문제 18. 딕셔너리 반복문
다음 딕셔너리를 이용해 "이름: 점수" 형식으로 출력하세요.

```python 
scores = {"Kim": 90, "Lee": 85, "Park": 95}
```

<details> <summary> 정답 </summary>

```python
for name, score in scores.items():
    print(f"{name}: {score}")
```
</details>

In [ ]:
# 여기에 코드를 작성하세요