#  ë°ì´í„° ë‹¤ë“¬ê¸°ì™€ ê°€ê³µ (Pandas ì‹¬í™”)

## í•™ìŠµ ëª©í‘œ
ì´ í† í”½ì„ ìˆ˜ê°•í•œ ë’¤, ìˆ˜ê°•ìƒì€ ë‹¤ìŒì„ í•  ìˆ˜ ìˆì–´ì•¼ í•©ë‹ˆë‹¤:

- ë°ì´í„° í”„ë ˆì„ê³¼ ì‹œë¦¬ì¦ˆë¥¼ íƒìƒ‰í•˜ê³  ì„¤ì •í•  ìˆ˜ ìˆë‹¤.  
- ê²°ì¸¡ê°’, ì¤‘ë³µê°’, ì´ìƒì ì„ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.  
- ë¬¸ì ë° ìˆ«ì ë°ì´í„°ë¥¼ ê°€ê³µí•  ìˆ˜ ìˆë‹¤.  
- ë‚ ì§œì™€ ì‹œê°„ ë°ì´í„°ë¥¼ ë‹¤ë£° ìˆ˜ ìˆë‹¤.  
- ë°ì´í„°ë¥¼ í•©ì¹˜ê³  ê·¸ë£¹í™”í•˜ì—¬ ë¶„ì„í•  ìˆ˜ ìˆë‹¤.

# 0. ë“¤ì–´ê°€ê¸°

ë°ì´í„° ë¶„ì„ì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ ì²« ë‹¨ê³„ëŠ” **ë°ì´í„° í´ë¦¬ë‹(data cleaning)** ì…ë‹ˆë‹¤.  
- ê²°ì¸¡ê°’, ì¤‘ë³µê°’, ì´ìƒì ì„ ì²˜ë¦¬í•˜ì§€ ì•Šìœ¼ë©´ ì˜ëª»ëœ ê²°ë¡ ì— ë„ë‹¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
- ê¹¨ë—í•˜ê³  êµ¬ì¡°í™”ëœ ë°ì´í„°ë§Œì´ **ë¯¿ì„ ìˆ˜ ìˆëŠ” í†µê³„ì™€ ëª¨ë¸**ì„ ë§Œë“¤ì–´ ì¤ë‹ˆë‹¤.  

ğŸ‘‰ ì´ë²ˆ íŒŒíŠ¸ì—ì„œëŠ” Pandasë¥¼ í™œìš©í•´ DataFrameì„ ë‹¤ë£¨ëŠ” ê¸°ì´ˆë¶€í„° ì‹œì‘í•©ë‹ˆë‹¤.  

# 1. DataFrame ê¸°ë³¸ê¸°

## 1.1 DataFrameê³¼ Series
- **Series**: 1ì°¨ì› ë°ì´í„° (ì—´ í•˜ë‚˜)
- **DataFrame**: 2ì°¨ì› ë°ì´í„° (í–‰ + ì—´)

In [ ]:
import pandas as pd

# Series ì˜ˆì‹œ
ages = pd.Series([22, 35, 58, 42])
print(ages)

# DataFrame ì˜ˆì‹œ
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [22, 35, 58, 42],
    "Gender": ["female", "male", "male", "female"]
}
df = pd.DataFrame(data)
df

## 1.2 ë°ì´í„° íƒìƒ‰ í•¨ìˆ˜
- `head()` : ìƒìœ„ 5í–‰ ë¯¸ë¦¬ë³´ê¸°
- `tail()` : í•˜ìœ„ 5í–‰ ë¯¸ë¦¬ë³´ê¸°
- `shape` : (í–‰ ê°œìˆ˜, ì—´ ê°œìˆ˜)
- `columns` : ì—´ ì´ë¦„ ë¦¬ìŠ¤íŠ¸
- `info()` : ë°ì´í„° íƒ€ì…ê³¼ ê²°ì¸¡ì¹˜ í™•ì¸
- `describe()` : ê¸°ì´ˆ í†µê³„ëŸ‰ ìš”ì•½

In [ ]:
import pandas as pd

# Titanic ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
titanic = pd.read_csv("data/titanic.csv")

# Bike Sharing ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
bike = pd.read_csv("data/bike_sharing.csv")

print(titanic.head())
print(titanic.tail())
print(titanic.shape)
print(titanic.columns)
print(titanic.info())
print(titanic.describe())

## 1.3 ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ ì´ë¦„ ì„¤ì •
- `set_index("ì»¬ëŸ¼ëª…")`: íŠ¹ì • ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •
- `reset_index()`: ê¸°ì¡´ ì¸ë±ìŠ¤ë¥¼ ë‹¤ì‹œ ìˆ«ìí˜•ìœ¼ë¡œ ë¦¬ì…‹
- `rename(columns={...})`: ì—´ ì´ë¦„ ë³€ê²½

In [ ]:
titanic2 = titanic.set_index("Name")
print(titanic2.head())

titanic2 = titanic2.reset_index()
print(titanic2.head())

titanic3 = titanic.rename(columns={"Sex": "Gender"})
print(titanic3.head())

## 1.4 ë°ì´í„° íƒ€ì… ë³€í™˜
- `astype()` : ë°ì´í„° íƒ€ì… ë³€ê²½

In [ ]:
# Ageë¥¼ floatí˜•ìœ¼ë¡œ ë³€í™˜
titanic["Age"] = titanic["Age"].astype(float)
print(titanic.info())

## 1.5 ë¶ˆë¦° ì¸ë±ì‹± (ì¡°ê±´ìœ¼ë¡œ í–‰ ì„ íƒ)
- íŠ¹ì • ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” í–‰ë§Œ ì„ íƒí•  ìˆ˜ ìˆìŒ
- ì—¬ëŸ¬ ì¡°ê±´ì€ **ë…¼ë¦¬ ì—°ì‚°ì**(`&`, `|`, `~`)ë¡œ ì¡°í•©

In [ ]:
# ë‚˜ì´ê°€ 30 ì´ìƒì¸ í–‰ ì„ íƒ
print(titanic[titanic["Age"] >= 30])

# ì„±ë³„ì´ femaleì´ê³  ë‚˜ì´ê°€ 30 ì´ìƒì¸ ê²½ìš°
print(titanic[(titanic["Sex"] == "female") & (titanic["Age"] >= 30)])

## 1.6 í–‰ê³¼ ì—´ ì‚­ì œ
- `drop("ì—´ì´ë¦„", axis=1)`: ì—´ ì‚­ì œ
- `drop(í–‰ì¸ë±ìŠ¤, axis=0)`: í–‰ ì‚­ì œ

In [ ]:
# ì—´ ì‚­ì œ
titanic_drop_col = titanic.drop("Sex", axis=1)
print(titanic_drop_col.head())

# í–‰ ì‚­ì œ (0ë²ˆì§¸ í–‰)
titanic_drop_row = titanic.drop(0, axis=0)
print(titanic_drop_row.head())

### âœ… ì²´í¬í¬ì¸íŠ¸
- Pandasì˜ ê¸°ë³¸ ë‹¨ìœ„ëŠ” **Series(1ì°¨ì›)** ì™€ **DataFrame(2ì°¨ì›)**  
- ë°ì´í„° íƒìƒ‰: `head()`, `tail()`, `shape`, `columns`, `info()`, `describe()`  
- ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ëª…ì„ ììœ ë¡­ê²Œ ì„¤ì • ê°€ëŠ¥ (`set_index`, `reset_index`, `rename`)  
- ë°ì´í„° íƒ€ì… ë³€í™˜ì€ `astype()`  
- ë¶ˆë¦° ì¸ë±ì‹±ìœ¼ë¡œ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” í–‰ ì„ íƒ ê°€ëŠ¥  
- `drop()`ìœ¼ë¡œ í–‰/ì—´ì„ ì‚­ì œí•  ìˆ˜ ìˆë‹¤.

# 2. ë°ì´í„° ë‹¤ë“¬ê¸°

ë°ì´í„°ëŠ” í•­ìƒ ê¹¨ë—í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.  
- **ê²°ì¸¡ê°’ (missing values)**: ë°ì´í„°ê°€ ë¹„ì–´ ìˆëŠ” ê°’  
- **ì¤‘ë³µê°’ (duplicates)**: ë™ì¼í•œ ë°ì´í„°ê°€ ì—¬ëŸ¬ ë²ˆ ë“±ì¥  
- **ì´ìƒì  (outliers)**: ë‹¤ë¥¸ ê°’ë“¤ê³¼ ë™ë–¨ì–´ì§„ ê·¹ë‹¨ì ì¸ ê°’  

ì´ëŸ¬í•œ ë¬¸ì œë¥¼ ì²˜ë¦¬í•´ì•¼ **ì‹ ë¢°í•  ìˆ˜ ìˆëŠ” ë¶„ì„**ì„ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  



## 2.1 ê²°ì¸¡ê°’ ì²˜ë¦¬

### ê²°ì¸¡ê°’ í™•ì¸
- `isna()`: ê°’ì´ NaNì¸ì§€ True/False ë°˜í™˜  
- `sum()`: ê²°ì¸¡ì¹˜ ê°œìˆ˜ ì„¸ê¸°

In [ ]:
# Titanic ë°ì´í„° ì˜ˆì‹œ
print(titanic.isna().sum())

### ê²°ì¸¡ê°’ ì œê±°
- `dropna()`: ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰/ì—´ ì‚­ì œ

In [ ]:
titanic_drop = titanic.dropna(subset=["Age"])  # Ageê°€ NaNì¸ í–‰ ì œê±°
print(titanic_drop.shape)

### ê²°ì¸¡ê°’ ëŒ€ì²´
- `fillna(ê°’)`: ê²°ì¸¡ì¹˜ë¥¼ íŠ¹ì • ê°’ìœ¼ë¡œ ì±„ìš°ê¸°

In [ ]:
# Bike Sharing ì˜ˆì‹œ: ê¸°ì˜¨/ìŠµë„ ê²°ì¸¡ì¹˜ë¥¼ í‰ê· ê°’ì´ë‚˜ ì¤‘ê°„ê°’ìœ¼ë¡œ ì±„ìš¸ ìˆ˜ ìˆìŒ  
# í‰ê·  ë‚˜ì´ë¡œ ì±„ìš°ê¸°
mean_age = titanic["Age"].mean()
titanic["Age_filled"] = titanic["Age"].fillna(mean_age)

## 2.2 ì¤‘ë³µê°’ ì²˜ë¦¬

### ì¤‘ë³µ í™•ì¸
- `duplicated()`: ê° í–‰ì´ ì¤‘ë³µì¸ì§€ True/False ë°˜í™˜  
- `sum()`: ì¤‘ë³µ ê°œìˆ˜ ì„¸ê¸°

In [ ]:
print(titanic.duplicated().sum())

### ì¤‘ë³µ ì œê±°
- `drop_duplicates()`: ì¤‘ë³µ í–‰ ì œê±°

In [ ]:
titanic_unique = titanic.drop_duplicates()
print(titanic_unique.shape)

## 2.3 ì´ìƒì  ì²˜ë¦¬

### ì´ìƒì ì´ë€?
- ë°ì´í„° ë¶„í¬ì—ì„œ ì¼ë°˜ì ì¸ ë²”ìœ„ì—ì„œ í¬ê²Œ ë²—ì–´ë‚œ ê°’  
- ë¶„ì„ ê²°ê³¼ë¥¼ ì™œê³¡í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ í™•ì¸ì´ í•„ìš”  

### ë°•ìŠ¤í”Œë¡¯ìœ¼ë¡œ ì´ìƒì  ì‹œê°í™”
- ë°•ìŠ¤í”Œë¡¯ì€ ì‚¬ë¶„ìœ„ìˆ˜ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì´ìƒì¹˜ë¥¼ í™•ì¸

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.boxplot(x=titanic["Age"])
plt.show()





### IQR(ì‚¬ë¶„ìœ„ ë²”ìœ„) ë°©ì‹ìœ¼ë¡œ ì´ìƒì  íƒì§€
- IQR = Q3 - Q1  
- í•˜í•œ = Q1 - 1.5 Ã— IQR  
- ìƒí•œ = Q3 + 1.5 Ã— IQR  
- ë²”ìœ„ë¥¼ ë²—ì–´ë‚œ ê°’ = ì´ìƒì

In [ ]:
# Bike Sharing ì˜ˆì‹œ: ëŒ€ì—¬ëŸ‰(`count`)ì´ ë„ˆë¬´ ë¹„ì •ìƒì ìœ¼ë¡œ í° ë‚ ì„ íƒì§€í•  ìˆ˜ ìˆìŒ  

Q1 = titanic["Age"].quantile(0.25)
Q3 = titanic["Age"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = titanic[(titanic["Age"] < lower_bound) | (titanic["Age"] > upper_bound)]
print(outliers[["Age"]])

### âœ… ì²´í¬í¬ì¸íŠ¸
- **ê²°ì¸¡ê°’**: `isna()`, `dropna()`, `fillna()`ë¡œ í™•ì¸Â·ì‚­ì œÂ·ëŒ€ì²´í•  ìˆ˜ ìˆë‹¤.  
- **ì¤‘ë³µê°’**: `duplicated()`, `drop_duplicates()`ë¡œ ì²˜ë¦¬í•  ìˆ˜ ìˆë‹¤.  
- **ì´ìƒì **: ë°•ìŠ¤í”Œë¡¯ê³¼ IQR ë°©ì‹ì„ í™œìš©í•´ íƒì§€í•  ìˆ˜ ìˆë‹¤.

# 3. ë¬¸ì ë°ì´í„° ê°€ê³µ

ë°ì´í„° ë¶„ì„ì—ì„œëŠ” **ë¬¸ìì—´ ì²˜ë¦¬**ê°€ ë§¤ìš° ìì£¼ í•„ìš”í•©ë‹ˆë‹¤.  
ì˜ˆë¥¼ ë“¤ì–´, ìŠ¹ê° ì´ë¦„ì—ì„œ í˜¸ì¹­(Mr, Mrs ë“±)ì„ ì¶”ì¶œí•˜ê±°ë‚˜, í…ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ ì •ë¦¬í•  ë•Œ ì‚¬ìš©ë©ë‹ˆë‹¤.  

## 3.1 ëŒ€ì†Œë¬¸ì ì²˜ë¦¬
- `str.lower()` : ëª¨ë‘ ì†Œë¬¸ìë¡œ ë³€í™˜  
- `str.upper()` : ëª¨ë‘ ëŒ€ë¬¸ìë¡œ ë³€í™˜  
- `str.title()` : ë‹¨ì–´ì˜ ì²« ê¸€ìë§Œ ëŒ€ë¬¸ìë¡œ ë³€í™˜

In [ ]:
names = pd.Series([" Alice ", "BOB", "cHaRlIe "])

print(names.str.lower())   # ì†Œë¬¸ì ë³€í™˜
print(names.str.upper())   # ëŒ€ë¬¸ì ë³€í™˜
print(names.str.title())   # ì²« ê¸€ìë§Œ ëŒ€ë¬¸ì

## 3.2 ë¬¸ìì—´ ê³µë°± ì œê±°
- `str.strip()` : ì•ë’¤ ê³µë°± ì œê±°  
- `str.lstrip()` : ì™¼ìª½ ê³µë°± ì œê±°  
- `str.rstrip()` : ì˜¤ë¥¸ìª½ ê³µë°± ì œê±°

In [ ]:
print(names.str.strip())

## 3.3 ë¬¸ìì—´ ë¶„ë¦¬
- `str.split("êµ¬ë¶„ì")` : êµ¬ë¶„ìë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬ â†’ ë¦¬ìŠ¤íŠ¸ ë°˜í™˜  
- `str.get(ì¸ë±ìŠ¤)` ë˜ëŠ” `.str[ì¸ë±ìŠ¤]`ë¡œ íŠ¹ì • ìœ„ì¹˜ ì¶”ì¶œ

In [ ]:
# Titanic ì˜ˆì‹œ: ìŠ¹ê° ì´ë¦„ì—ì„œ í˜¸ì¹­(Mr, Mrs, Miss ë“±)ì„ ì¶”ì¶œ  
titanic["Title"] = titanic["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()
print(titanic[["Name", "Title"]].head())

## 3.4 ë¬¸ìì—´ ëŒ€ì²´
- `str.replace("ì°¾ì„ë¬¸ì", "ë°”ê¿€ë¬¸ì")`

In [ ]:
city = pd.Series(["New York", "Los Angeles", "new york"])

print(city.str.replace("New York", "NYC", case=False))

## 3.5 ì¡°ê±´ í•„í„°ë§ (ë¬¸ìì—´ í¬í•¨ ì—¬ë¶€)
- `str.contains("ë¬¸ìì—´")`: íŠ¹ì • ë¬¸ìê°€ í¬í•¨ëœ í–‰ë§Œ True

In [ ]:
mask = titanic["Name"].str.contains("Smith")
print(titanic[mask][["Name", "Age"]])

### âœ… ì²´í¬í¬ì¸íŠ¸
- ë¬¸ìì—´ì„ ì†Œë¬¸ì/ëŒ€ë¬¸ì/íƒ€ì´í‹€ ì¼€ì´ìŠ¤ë¡œ ë³€í™˜í•  ìˆ˜ ìˆë‹¤.  
- ê³µë°± ì œê±°, ë¬¸ìì—´ ë¶„ë¦¬(split), ëŒ€ì²´(replace) ë“±ì˜ ì „ì²˜ë¦¬ ì‘ì—…ì´ ê°€ëŠ¥í•˜ë‹¤.  
- `.str.contains()`ë¡œ íŠ¹ì • ë¬¸ìë¥¼ í¬í•¨í•œ í–‰ì„ ì‰½ê²Œ ì°¾ì„ ìˆ˜ ìˆë‹¤.  
- Titanic ë°ì´í„°ì—ì„œëŠ” ì´ë¦„(`Name`)ì—ì„œ í˜¸ì¹­ ì¶”ì¶œ, íŠ¹ì • ì„±ì”¨ ê²€ìƒ‰ ë“±ì— í™œìš©í•  ìˆ˜ ìˆë‹¤.

# 4. ìˆ«ì ë°ì´í„° ê°€ê³µ

ìˆ«ì ë°ì´í„°ëŠ” ë‹¨ìˆœ ê³„ì‚°ë¿ ì•„ë‹ˆë¼, **ì •ê·œí™”/í‘œì¤€í™”**, **êµ¬ê°„í™”(binning)**, **ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ ì ìš©** ë“±ì˜ ì‘ì—…ì´ ìì£¼ í•„ìš”í•©ë‹ˆë‹¤.  



## 4.1 ê¸°ë³¸ ì—°ì‚°
DataFrame/SeriesëŠ” ë²¡í„° ì—°ì‚°ì´ ê°€ëŠ¥í•˜ë¯€ë¡œ, ì‚¬ì¹™ì—°ì‚°ì„ ë°”ë¡œ ì ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
numbers = pd.Series([10, 20, 30, 40])

print(numbers + 5)   # ëª¨ë“  ì›ì†Œì— +5
print(numbers * 2)   # ëª¨ë“  ì›ì†Œì— Ã—2
print(numbers / 10)  # ëª¨ë“  ì›ì†Œì— Ã·10

## 4.2 ì •ê·œí™” (Normalization)
ë°ì´í„°ë¥¼ **0~1 ì‚¬ì´ ê°’**ìœ¼ë¡œ ë°”ê¿” ë¹„êµ ê°€ëŠ¥í•˜ê²Œ í•¨.  

$$
x' = \frac{x - \min(x)}{\max(x) - \min(x)}
$$

In [ ]:
age = titanic["Age"].dropna()
age_norm = (age - age.min()) / (age.max() - age.min())
print(age_norm.head())

## 4.3 í‘œì¤€í™” (Standardization)
ë°ì´í„°ë¥¼ **í‰ê·  0, í‘œì¤€í¸ì°¨ 1**ë¡œ ë§ì¶¤.  

$$
z = \frac{x - \mu}{\sigma}
$$

In [ ]:
age_std = (age - age.mean()) / age.std()
print(age_std.head())

## 4.4 êµ¬ê°„í™” (Binning)
ì—°ì†í˜• ë°ì´í„°ë¥¼ ë²”ì£¼í˜• ë°ì´í„°ë¡œ ë³€í™˜  

- `pd.cut()` : êµ¬ê°„ ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆ„ê¸°  
- `pd.qcut()` : ë¶„ìœ„ìˆ˜(quantile) ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆ„ê¸°

In [ ]:
# ë‚˜ì´ë¥¼ ì—°ë ¹ëŒ€ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ê¸°
bins = [0, 12, 18, 30, 50, 80]
labels = ["Child", "Teen", "Young", "Adult", "Senior"]

titanic["AgeGroup"] = pd.cut(titanic["Age"], bins=bins, labels=labels)
print(titanic[["Age", "AgeGroup"]].head())

## 4.5 apply() í•¨ìˆ˜
ë³µì¡í•œ ì—°ì‚°ì„ í•¨ìˆ˜ë¡œ ì •ì˜í•˜ê³  ì ìš© ê°€ëŠ¥

In [ ]:
def age_category(age):
    if pd.isna(age):
        return "Unknown"
    elif age < 18:
        return "Child"
    else:
        return "Adult"

titanic["AgeCategory"] = titanic["Age"].apply(age_category)
print(titanic[["Age", "AgeCategory"]].head())

### âœ… ì²´í¬í¬ì¸íŠ¸
- ìˆ«ì ë°ì´í„°ëŠ” ì‚¬ì¹™ì—°ì‚°ìœ¼ë¡œ ì‰½ê²Œ ë²¡í„° ì—°ì‚° ê°€ëŠ¥í•˜ë‹¤.  
- **ì •ê·œí™”**ëŠ” 0~1 ë²”ìœ„ë¡œ, **í‘œì¤€í™”**ëŠ” í‰ê· 0/í‘œì¤€í¸ì°¨1ë¡œ ë§ì¶˜ë‹¤.  
- `pd.cut()`, `pd.qcut()`ìœ¼ë¡œ êµ¬ê°„í™”ê°€ ê°€ëŠ¥í•˜ë‹¤.  
- `apply()`ë¥¼ ì‚¬ìš©í•˜ë©´ ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë¥¼ ê° ê°’ì— ì ìš©í•  ìˆ˜ ìˆë‹¤.

# 5. ë‚ ì§œì™€ ì‹œê°„ ë°ì´í„° ë‹¤ë£¨ê¸°

ë°ì´í„° ë¶„ì„ì—ì„œëŠ” **ì‹œê°„ ì •ë³´**ê°€ ë§¤ìš° ì¤‘ìš”í•©ë‹ˆë‹¤.  
ì˜ˆ: ì£¼ë¬¸ ì‹œê°„, íƒ‘ìŠ¹ì¼, ìì „ê±° ëŒ€ì—¬ ì¼ì ë“±.  
PandasëŠ” `datetime` íƒ€ì…ì„ í™œìš©í•˜ì—¬ ë‚ ì§œì™€ ì‹œê°„ì„ ì‰½ê²Œ ë‹¤ë£° ìˆ˜ ìˆìŠµë‹ˆë‹¤.  



## 5.1 ë¬¸ìì—´ì„ ë‚ ì§œë¡œ ë³€í™˜
- `pd.to_datetime()` : ë¬¸ìì—´ â†’ ë‚ ì§œ/ì‹œê°„ ë°ì´í„° ë³€í™˜

In [ ]:
bike["datetime"] = pd.to_datetime(bike["datetime"])
print(bike["datetime"].head())
print(bike["datetime"].dtype)  # datetime64[ns]

## 5.2 ë‚ ì§œ ì†ì„± ì¶”ì¶œ
- `.dt.year`, `.dt.month`, `.dt.day`, `.dt.weekday`, `.dt.hour` ë“±ìœ¼ë¡œ ì„¸ë¶€ ìš”ì†Œ ì¶”ì¶œ ê°€ëŠ¥

In [ ]:
bike["year"] = bike["datetime"].dt.year
bike["month"] = bike["datetime"].dt.month
bike["weekday"] = bike["datetime"].dt.weekday
bike["hour"] = bike["datetime"].dt.hour

print(bike[["datetime", "year", "month", "weekday", "hour"]].head())

## 5.3 ë‚ ì§œë¥¼ ì¸ë±ìŠ¤ë¡œ ì„¤ì •
- `set_index()`ë¡œ datetime ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ë©´ ì‹œê³„ì—´ ë°ì´í„° ë¶„ì„ì— ìœ ìš©

In [ ]:
bike = bike.set_index("datetime")
print(bike.head())

## 5.4 ë¦¬ìƒ˜í”Œë§ (Resampling)
- `resample("ê·œì¹™")` : íŠ¹ì • ë‹¨ìœ„(ì¼, ì£¼, ì›” ë“±)ë¡œ ë°ì´í„° ë¬¶ê¸°  
- ê·œì¹™ ì˜ˆì‹œ: `"D"`=ì¼, `"W"`=ì£¼, `"M"`=ì›”

In [ ]:
# ì¼ë³„ í‰ê·  ëŒ€ì—¬ëŸ‰
daily_mean = bike["count"].resample("D").mean()
print(daily_mean.head())

# ì›”ë³„ í‰ê·  ëŒ€ì—¬ëŸ‰
monthly_mean = bike["count"].resample("M").mean()
print(monthly_mean.head())

## 5.5 ì‹œê°í™”ì™€ í•¨ê»˜ í™œìš©

In [ ]:

import matplotlib.pyplot as plt

monthly_mean.plot(kind="line", title="Monthly Average Bike Demand")
plt.ylabel("count")
plt.show()

### âœ… ì²´í¬í¬ì¸íŠ¸
- `pd.to_datetime()`ìœ¼ë¡œ ë¬¸ìì—´ì„ datetime íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•  ìˆ˜ ìˆë‹¤.  
- `.dt.year`, `.dt.month`, `.dt.weekday`, `.dt.hour` ë“±ìœ¼ë¡œ ì„¸ë¶€ ì‹œê°„ ì •ë³´ë¥¼ ì¶”ì¶œí•  ìˆ˜ ìˆë‹¤.  
- datetimeì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ë©´ ì‹œê³„ì—´ ë¶„ì„ì— ìœ ë¦¬í•˜ë‹¤.  
- `resample()`ë¡œ ì›í•˜ëŠ” ì£¼ê¸°(ì¼, ì£¼, ì›”) ë‹¨ìœ„ë¡œ ë°ì´í„° ì§‘ê³„ê°€ ê°€ëŠ¥í•˜ë‹¤.

# 6. ë°ì´í„° í•©ì¹˜ê¸°

ë¶„ì„ì„ í•˜ë‹¤ ë³´ë©´ ë°ì´í„°ë¥¼ ì—¬ëŸ¬ ê°œì˜ í…Œì´ë¸”(íŒŒì¼)ë¡œ ë‚˜ëˆ„ì–´ ê´€ë¦¬í•˜ëŠ” ê²½ìš°ê°€ ë§ìŠµë‹ˆë‹¤.  
ì´ë•Œ Pandasì˜ **concat, merge, join**ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ í•©ì¹  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  



## 6.1 concat()
- ì—¬ëŸ¬ DataFrameì„ **ìœ„ì•„ë˜(í–‰)** ë˜ëŠ” **ì˜†ìœ¼ë¡œ(ì—´)** ë‹¨ìˆœí•˜ê²Œ ì´ì–´ ë¶™ì„  
- ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë§ì¶¤

In [ ]:
import pandas as pd

df1 = pd.DataFrame({"ID": [1, 2, 3], "Name": ["Alice", "Bob", "Charlie"]})
df2 = pd.DataFrame({"ID": [4, 5], "Name": ["Diana", "Evan"]})

# ìœ„ì•„ë˜ë¡œ í•©ì¹˜ê¸° (í–‰ ê¸°ì¤€)
df_row = pd.concat([df1, df2], axis=0)
print(df_row)

# ì˜†ìœ¼ë¡œ í•©ì¹˜ê¸° (ì—´ ê¸°ì¤€)
df_col = pd.concat([df1, pd.DataFrame({"Age": [22, 35, 40]})], axis=1)
print(df_col)

## 6.2 merge()
- SQLì˜ JOINì²˜ëŸ¼ **ê³µí†µëœ ì—´(í‚¤)**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹¨  
- `how` ì˜µì…˜: `"inner"`, `"outer"`, `"left"`, `"right"`

In [ ]:
df_left = pd.DataFrame({"ID": [1, 2, 3], "Age": [22, 35, 58]})
df_right = pd.DataFrame({"ID": [2, 3, 4], "City": ["Seoul", "Busan", "Incheon"]})

In [ ]:
# ê¸°ë³¸ì€ inner join
df_inner = pd.merge(df_left, df_right, on="ID", how="inner")
print(df_inner)

In [ ]:
# outer join
df_outer = pd.merge(df_left, df_right, on="ID", how="outer")
print(df_outer)

## 6.3 join()
- ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©  
- ê¸°ë³¸ì ìœ¼ë¡œ ì™¼ìª½ DataFrameì˜ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€

In [ ]:
df_left = df_left.set_index("ID")
df_right = df_right.set_index("ID")

df_join = df_left.join(df_right, how="inner")
print(df_join)

### âœ… ì²´í¬í¬ì¸íŠ¸
- `concat()`ì€ ë‹¨ìˆœíˆ í–‰ì´ë‚˜ ì—´ì„ ì´ì–´ ë¶™ì´ëŠ” ë°©ì‹  
- `merge()`ëŠ” SQL JOINì²˜ëŸ¼ í‚¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ë³‘í•©  
- `join()`ì€ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©

# 7. Groupbyì™€ í”¼ë²— í…Œì´ë¸”

ë°ì´í„°ë¥¼ ê·¸ë£¹ë³„ë¡œ ë‚˜ëˆ„ì–´ ì§‘ê³„í•˜ê±°ë‚˜, í–‰/ì—´ ê¸°ì¤€ìœ¼ë¡œ ì¬êµ¬ì¡°í™”í•˜ì—¬ ìš”ì•½í•  ë•Œ  
**groupby()** ì™€ **pivot_table()** ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.  



## 7.1 groupby()

- íŠ¹ì • ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•œ ë’¤, **ì§‘ê³„ í•¨ìˆ˜**(mean, sum, count ë“±)ë¥¼ ì ìš©
- `df.groupby("ì»¬ëŸ¼")[ë‹¤ë¥¸ì»¬ëŸ¼].ì§‘ê³„í•¨ìˆ˜()`

In [ ]:
# Titanic: ì„±ë³„ë³„ í‰ê·  ë‚˜ì´
print(titanic.groupby("Sex")["Age"].mean())

# Bike Sharing: ìš”ì¼ë³„ í‰ê·  ëŒ€ì—¬ëŸ‰
print(bike.groupby("weekday")["count"].mean())

## 7.2 ì—¬ëŸ¬ ì»¬ëŸ¼ìœ¼ë¡œ ê·¸ë£¹í™”

- ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì—¬ëŸ¬ ì»¬ëŸ¼ì„ ë„£ìœ¼ë©´ ë‹¤ì¤‘ ê·¸ë£¹í™” ê°€ëŠ¥

In [ ]:
# Titanic: ì„±ë³„ + ê°ì‹¤ ë“±ê¸‰ë³„ í‰ê·  ìƒì¡´ìœ¨
print(titanic.groupby(["Sex", "Pclass"])["Survived"].mean())

## 7.3 pivot_table()

- groupbyì™€ ë¹„ìŠ·í•˜ì§€ë§Œ, **í–‰/ì—´**ì„ ë™ì‹œì— ì§€ì • ê°€ëŠ¥  
- Excelì˜ í”¼ë²— í…Œì´ë¸”ê³¼ ìœ ì‚¬

In [ ]:
# Titanic: ì„±ë³„(Pclass) Ã— ê°ì‹¤ ë“±ê¸‰ë³„ í‰ê·  ìƒì¡´ìœ¨
pivot = titanic.pivot_table(values="Survived", index="Sex", columns="Pclass", aggfunc="mean")
print(pivot)

## 7.4 ì§‘ê³„ í•¨ìˆ˜ ì‘ìš©

- `agg()`ë¥¼ ì‚¬ìš©í•˜ë©´ ì—¬ëŸ¬ ê°œì˜ ì§‘ê³„ í•¨ìˆ˜ë¥¼ í•œ ë²ˆì— ì ìš© ê°€ëŠ¥

In [ ]:
# Titanic: ì„±ë³„ë³„ ë‚˜ì´ì˜ í‰ê· ê³¼ ì¤‘ì•™ê°’ ë™ì‹œ ê³„ì‚°
print(titanic.groupby("Sex")["Age"].agg(["mean", "median"]))

## 7.5 ì‹œê°í™”ì™€ í•¨ê»˜ í™œìš©

In [ ]:
# ì„±ë³„/ë“±ê¸‰ë³„ ìƒì¡´ìœ¨ì„ ì‹œê°í™”
pivot.plot(kind="bar", title="Survival Rate by Sex and Pclass")
plt.ylabel("Survival Rate")
plt.show()

### âœ… ì²´í¬í¬ì¸íŠ¸
- `groupby()`ëŠ” ê·¸ë£¹ë³„ ì§‘ê³„ â†’ ë‹¨ì¼/ë‹¤ì¤‘ ì»¬ëŸ¼ ê¸°ì¤€ ê°€ëŠ¥  
- `pivot_table()`ì€ í–‰/ì—´ì„ ë™ì‹œì— ì§€ì •í•˜ëŠ” ìš”ì•½ í…Œì´ë¸”  
- `agg()`ë¡œ ì—¬ëŸ¬ í†µê³„ì¹˜ë¥¼ í•œ ë²ˆì— ê³„ì‚° ê°€ëŠ¥  
- groupby, pivot_tableì€ ë°ì´í„° ë¶„ì„ì—ì„œ íŒ¨í„´ íŒŒì•…ì— í•„ìˆ˜ì ì¸ ë„êµ¬

### ì‹¤ìŠµ ë¬¸ì œ

### ë¬¸ì œ 1. ê²°ì¸¡ê°’ ì²˜ë¦¬
Titanic ë°ì´í„°ì˜ `Age` ì»¬ëŸ¼ì—ì„œ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê³ , í‰ê· ê°’ìœ¼ë¡œ ì±„ìš°ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
# ê²°ì¸¡ì¹˜ ê°œìˆ˜ í™•ì¸
print(titanic["Age"].isna().sum())

# í‰ê· ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
mean_age = titanic["Age"].mean()
titanic["Age_filled"] = titanic["Age"].fillna(mean_age)
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 2. ì¤‘ë³µê°’ ì œê±°
Titanic ë°ì´í„°ì—ì„œ ì¤‘ë³µëœ í–‰ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ê³ , ì œê±°í•œ ë’¤ ë‚¨ì€ ë°ì´í„° í¬ê¸°ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
print(titanic.duplicated().sum())   # ì¤‘ë³µ í–‰ ê°œìˆ˜
titanic_unique = titanic.drop_duplicates()
print(titanic_unique.shape)
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 3. ì´ìƒì  íƒì§€
Titanic ë°ì´í„°ì—ì„œ `Fare` ì»¬ëŸ¼ì˜ ì´ìƒì ì„ IQR ë°©ì‹ì„ ì‚¬ìš©í•´ íƒì§€í•˜ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
Q1 = titanic["Fare"].quantile(0.25) # í•˜ìœ„ 25%
Q3 = titanic["Fare"].quantile(0.75) # ìƒìœ„ 25%
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = titanic[(titanic["Fare"] < lower_bound) | (titanic["Fare"] > upper_bound)]
print(outliers[["Fare"]].head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 4. ë¬¸ìì—´ ê°€ê³µ
Titanic ë°ì´í„°ì˜ `Name` ì»¬ëŸ¼ì—ì„œ ìŠ¹ê° í˜¸ì¹­(ì˜ˆ: Mr, Mrs, Miss)ì„ ì¶”ì¶œí•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ `Title`ì„ ë§Œë“œì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
titanic["Title"] = titanic["Name"].str.split(",").str[1].str.split(".").str[0].str.strip()
print(titanic[["Name", "Title"]].head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 5. êµ¬ê°„í™”
Titanic ë°ì´í„°ì˜ `Age` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚˜ì´ë¥¼ `Child(0-12), Teen(13-19), Adult(20-64), Senior(65+)` êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
bins = [0, 12, 19, 64, 100]
labels = ["Child", "Teen", "Adult", "Senior"]

titanic["AgeGroup"] = pd.cut(titanic["Age"], bins=bins, labels=labels)
print(titanic[["Age", "AgeGroup"]].head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”
bins = [0, 12, 19, 64, 100]
labels = ["Child", "Teen", "Adult", "Senior"]

### ë¬¸ì œ 6. ë‚ ì§œ ì²˜ë¦¬
Bike Sharing ë°ì´í„°ì—ì„œ `datetime` ì»¬ëŸ¼ì„ datetime íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•˜ê³ , `year`, `month`, `weekday` ì»¬ëŸ¼ì„ ì¶”ì¶œí•˜ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
bike["datetime"] = pd.to_datetime(bike["datetime"])
bike["year"] = bike["datetime"].dt.year
bike["month"] = bike["datetime"].dt.month
bike["weekday"] = bike["datetime"].dt.weekday

print(bike[["datetime", "year", "month", "weekday"]].head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 7. ë°ì´í„° í•©ì¹˜ê¸°
ì•„ë˜ ë‘ DataFrameì„ `ID` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ mergeí•˜ì„¸ìš”.  


df_left = pd.DataFrame({"ID": [1, 2, 3], "Age": [22, 35, 58]})
df_right = pd.DataFrame({"ID": [2, 3, 4], "City": ["Seoul", "Busan", "Incheon"]})


<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
df_merge = pd.merge(df_left, df_right, on="ID", how="inner")
print(df_merge)
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 8. ê·¸ë£¹í™” & í”¼ë²— í…Œì´ë¸”
Titanic ë°ì´í„°ì—ì„œ ì„±ë³„(`Sex`)ê³¼ ê°ì‹¤ ë“±ê¸‰(`Pclass`)ë³„ í‰ê·  ìƒì¡´ìœ¨ì„ êµ¬í•˜ê³ , í”¼ë²— í…Œì´ë¸”ë¡œ ìš”ì•½í•˜ì„¸ìš”.  

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
# groupby
print(titanic.groupby(["Sex", "Pclass"])["Survived"].mean())

# pivot_table
pivot = titanic.pivot_table(values="Survived", index="Sex", columns="Pclass", aggfunc="mean")
print(pivot)
```
</details>

### ë¬¸ì œ 9. ë‹¤ì¤‘ ì¡°ê±´ ë¶ˆë¦° ì¸ë±ì‹±
Titanic ë°ì´í„°ì—ì„œ Age >= 30 ì´ê³  Sex == "male" ì¸ í–‰ë§Œ ì„ íƒí•˜ì—¬ Name, Age, Sex, Fare ì»¬ëŸ¼ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
mask = (titanic["Age"] >= 30) & (titanic["Sex"] == "male")
print(titanic.loc[mask, ["Name", "Age", "Sex", "Fare"]].head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 10. ë‹¤ì¤‘ ê¸°ì¤€ ì •ë ¬
Titanic ë°ì´í„°ë¥¼ Age ì˜¤ë¦„ì°¨ìˆœ, Fare ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ë™ì‹œì— ì •ë ¬í•˜ê³  ìƒìœ„ 10í–‰ì„ ì¶œë ¥í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
sorted_df = titanic.sort_values(by=["Age", "Fare"], ascending=[True, False])
print(sorted_df.head(10))
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 11. ì¸ë±ìŠ¤ ì„¤ì •/ë¦¬ì…‹
Titanic ë°ì´í„°ì—ì„œ Nameì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œ í›„, ë‹¤ì‹œ ê¸°ë³¸ ì •ìˆ˜ ì¸ë±ìŠ¤ë¡œ ë¦¬ì…‹í•˜ì„¸ìš”.
<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
titanic_idx = titanic.set_index("Name")
print(titanic_idx.head())

titanic_reset = titanic_idx.reset_index()
print(titanic_reset.head())
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 12. ì¹´í…Œê³ ë¦¬í˜• ë³€í™˜
Pclassì™€ Sex ì»¬ëŸ¼ì„ ë²”ì£¼í˜•(category)ìœ¼ë¡œ ë³€í™˜í•˜ê³  info()ë¡œ íƒ€ì… ë³€í™”ë¥¼ í™•ì¸í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
titanic["Pclass"] = titanic["Pclass"].astype("category")
titanic["Sex"] = titanic["Sex"].astype("category")
titanic.info()
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 13. ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ ì ìš©
Ageë¥¼ ì´ìš©í•´ ì„±ì¸/ë¯¸ì„±ë…„ ì—¬ë¶€ë¥¼ í‘œì‹œí•˜ëŠ” IsAdult ì»¬ëŸ¼ì„ ìƒì„±í•˜ì„¸ìš”. (ë‚˜ì´ < 18 â†’ 0, ê·¸ ì™¸ â†’ 1. ê²°ì¸¡ì¹˜ëŠ” -1)

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
def is_adult(age):
    if pd.isna(age):
        return -1
    return 1 if age >= 18 else 0

titanic["IsAdult"] = titanic["Age"].apply(is_adult)
print(titanic[["Age", "IsAdult"]].head())

```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 14. ë¶„ìœ„ìˆ˜ ê¸°ë°˜ êµ¬ê°„í™”(qcut)
Fareë¥¼ ì‚¬ë¶„ìœ„ìˆ˜ ê¸°ì¤€ 4ê°œ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ì–´ FareQuartile ì»¬ëŸ¼ì„ ìƒì„±í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
titanic["FareQuartile"] = pd.qcut(titanic["Fare"], q=4, labels=["Q1","Q2","Q3","Q4"])
print(titanic[["Fare", "FareQuartile"]].head())

```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 15. ì¤‘ë³µê°’ ì²˜ë¦¬(ë¶€ë¶„ ì»¬ëŸ¼ ê¸°ì¤€)

Nameê³¼ Ticket ì¡°í•©ì´ ì¤‘ë³µëœ í–‰ì„ ì œê±°í•˜ì„¸ìš”(ì²« ë²ˆì§¸ë§Œ ë‚¨ê¹€). ì œê±° ì „/í›„ í–‰ ìˆ˜ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
before = len(titanic)
titanic_dedup = titanic.drop_duplicates(subset=["Name", "Ticket"])
after = len(titanic_dedup)
print("ì œê±° ì „:", before, "ì œê±° í›„:", after)
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 16. ë¬¸ìì—´ ì²˜ë¦¬(ë± ì •ë³´ ì¶”ì¶œ)

Cabin ê²°ì¸¡ì¹˜ëŠ” "Unknown"ìœ¼ë¡œ ì±„ìš°ê³ , CabinDeck(ì²« ë¬¸ìë§Œ ì¶”ì¶œ) ì»¬ëŸ¼ì„ ë§Œë“œì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
titanic["Cabin"] = titanic["Cabin"].fillna("Unknown")
titanic["CabinDeck"] = titanic["Cabin"].astype(str).str[0]
print(titanic[["Cabin", "CabinDeck"]].head())

```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 17. ì‹œê³„ì—´ ë¦¬ìƒ˜í”Œë§

Bike Sharing ë°ì´í„°ì—ì„œ datetimeì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œ ë’¤, countì˜ ì›”ë³„ í‰ê· ì„ ê³„ì‚°í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
7. ì‹œê³„ì—´ ë¦¬ìƒ˜í”Œë§

Bike Sharing ë°ì´í„°ì—ì„œ datetimeì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•œ ë’¤, countì˜ ì›”ë³„ í‰ê· ì„ ê³„ì‚°í•˜ì„¸ìš”.
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 18. ë‹¤ì–‘í•œ ì¡°ì¸ ì‹¤ìŠµ

ì•„ë˜ ë‘ DataFrameìœ¼ë¡œ left joinê³¼ outer join ê²°ê³¼ë¥¼ ê°ê° ë§Œë“œì„¸ìš”.

```python
A = pd.DataFrame({"ID":[1,2,3], "City":["Seoul","Busan","Daegu"]})
B = pd.DataFrame({"ID":[2,3,4], "Income":[50,60,70]})
```

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
A = pd.DataFrame({"ID":[1,2,3], "City":["Seoul","Busan","Daegu"]})
B = pd.DataFrame({"ID":[2,3,4], "Income":[50,60,70]})

left_join = pd.merge(A, B, on="ID", how="left")
outer_join = pd.merge(A, B, on="ID", how="outer")

print(left_join)
print(outer_join)
```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”
A = pd.DataFrame({"ID":[1,2,3], "City":["Seoul","Busan","Daegu"]})
B = pd.DataFrame({"ID":[2,3,4], "Income":[50,60,70]})

### ë¬¸ì œ 19. ê·¸ë£¹ ì§‘ê³„ ë‹¤ì¤‘ í†µê³„

Titanic ë°ì´í„°ì—ì„œ Sexë³„ Ageì˜ í‰ê· Â·ì¤‘ì•™ê°’, Fareì˜ í‰ê· Â·ìµœëŒ€ê°’ì„ í•œ ë²ˆì— êµ¬í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
agg_df = titanic.groupby("Sex").agg({
    "Age": ["mean", "median"],
    "Fare": ["mean", "max"]
})
print(agg_df)

```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 20. í”¼ë²— í…Œì´ë¸” + í•©ê³„(margins)

Pclass(í–‰) Ã— Sex(ì—´) ê¸°ì¤€ Survived í‰ê· ì„ í”¼ë²— í…Œì´ë¸”ë¡œ ë§Œë“¤ê³ , í–‰/ì—´ í•©ê³„ë¥¼ í¬í•¨í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”.

<details>
<summary>ì •ë‹µ ë³´ê¸°</summary>

```python
pivot = titanic.pivot_table(
    values="Survived",
    index="Pclass",
    columns="Sex",
    aggfunc="mean",
    margins=True,        # í•©ê³„(í‰ê· ) í–‰/ì—´
    margins_name="Total" # í•©ê³„ ë¼ë²¨ëª…
)
print(pivot)

```
</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”
pivot = titanic.pivot_table # ì½”ë“œë¥¼ ì´ì–´ì„œ ì™„ì„±í•˜ì„¸ìš”

### âœ… ì²´í¬í¬ì¸íŠ¸
- ê²°ì¸¡ê°’, ì¤‘ë³µê°’, ì´ìƒì ì€ ë°˜ë“œì‹œ í™•ì¸ í›„ ì²˜ë¦¬í•´ì•¼ í•œë‹¤.  
- ë¬¸ìì—´, ìˆ«ì, ë‚ ì§œ ë°ì´í„°ë¥¼ ê°€ê³µí•˜ì—¬ ë¶„ì„ì— ì í•©í•œ í˜•íƒœë¡œ ë°”ê¿€ ìˆ˜ ìˆë‹¤.  
- `merge()`, `groupby()`, `pivot_table()`ì€ ë°ì´í„° ë¶„ì„ ì‹¤ë¬´ì—ì„œ ìì£¼ ì“°ì´ëŠ” í•µì‹¬ ê¸°ëŠ¥ì´ë‹¤.

# ì •ë¦¬

### 1. DataFrame ê¸°ë³¸ê¸°
- **DataFrame, Series íƒìƒ‰í•˜ê¸°**  
  - `head()`, `tail()`, `shape`, `columns`, `info()`
- **ë°ì´í„° íƒ€ì… ì„¤ì •í•˜ê¸°**  
  - `astype()`ìœ¼ë¡œ í˜• ë³€í™˜
- **ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ëª… ë‹¤ë£¨ê¸°**  
  - `set_index()`, `reset_index()`, `rename()`
- **ë‹¤ì¤‘ ì¡°ê±´ ë¶ˆë¦° ì¸ë±ì‹±**  
  - `(ì¡°ê±´1) & (ì¡°ê±´2)`, `(ì¡°ê±´1) | (ì¡°ê±´2)`
- **ë°ì´í„° ì‚­ì œí•˜ê¸°**  
  - `drop()`ìœ¼ë¡œ í–‰/ì—´ ì‚­ì œ


### 2. ë°ì´í„° ë‹¤ë“¬ê¸°
- **ê²°ì¸¡ê°’ ì²˜ë¦¬**  
  - `isna()`, `dropna()`, `fillna()`  
- **ì¤‘ë³µê°’ ì²˜ë¦¬**  
  - `duplicated()`, `drop_duplicates()`  
- **ì´ìƒì  ì²˜ë¦¬**  
  - ë°•ìŠ¤í”Œë¡¯ í™œìš© â†’ IQR ë°©ì‹ìœ¼ë¡œ ì´ìƒì¹˜ íƒìƒ‰ ë° ì œê±°  

ğŸ‘‰ Titanic ì˜ˆì‹œ: ë‚˜ì´(`Age`) ê²°ì¸¡ì¹˜ ì²˜ë¦¬  
ğŸ‘‰ Bike Sharing ì˜ˆì‹œ: ì´ìƒì ìœ¼ë¡œ í° ëŒ€ì—¬ëŸ‰ íƒì§€  


### 3. ë¬¸ì ë°ì´í„° ê°€ê³µ
- **ëŒ€ì†Œë¬¸ì ì²˜ë¦¬**: `str.lower()`, `str.upper()`, `str.title()`  
- **ë¬¸ìì—´ ë¶„ë¦¬**: `str.split()`  
- **ê³µë°± ì œê±°**: `str.strip()`  
- **ê°’ ëŒ€ì²´**: `str.replace()`  

ğŸ‘‰ Titanic ì˜ˆì‹œ: ìŠ¹ê° ì´ë¦„(`Name`)ì—ì„œ í˜¸ì¹­(Mr, Mrs, Miss) ì¶”ì¶œ  
ğŸ‘‰ Gapminder ì˜ˆì‹œ: êµ­ê°€ ì´ë¦„ ì „ì²˜ë¦¬  


### 4. ìˆ«ì ë°ì´í„° ê°€ê³µ
- **ì‚¬ì¹™ì—°ì‚°**: ê¸°ë³¸ ì—°ì‚°ì í™œìš©  
- **ì •ê·œí™”/í‘œì¤€í™”**: (x-min)/(max-min), (x-mean)/std  
- **êµ¬ê°„í™”(Binning)**: `pd.cut()`, `pd.qcut()`  
- **apply í•¨ìˆ˜**: í–‰/ì—´ ë‹¨ìœ„ ì‚¬ìš©ì ì •ì˜ ì—°ì‚°  

ğŸ‘‰ Bike Sharing ì˜ˆì‹œ: ëŒ€ì—¬ëŸ‰(`count`)ì„ â€œLow/Medium/Highâ€ ë“±ê¸‰ìœ¼ë¡œ êµ¬ê°„í™”  


### 5. ë‚ ì§œì™€ ì‹œê°„ ë°ì´í„°
- `pd.to_datetime()`ìœ¼ë¡œ ë¬¸ìì—´ â†’ ë‚ ì§œ ë³€í™˜  
- ì†ì„±: `.dt.year`, `.dt.month`, `.dt.weekday`  
- ì‹œê³„ì—´ ì¸ë±ìŠ¤: `set_index(datetime)`  
- ë¦¬ìƒ˜í”Œë§: `resample("D")`, `resample("M")`  

ğŸ‘‰ Bike Sharing ì˜ˆì‹œ: ìš”ì¼ë³„/ì›”ë³„ ìˆ˜ìš” ë¹„êµ  


### 6. ë°ì´í„° í•©ì¹˜ê¸°
- **concat()**: ìœ„/ì˜†ìœ¼ë¡œ ë‹¨ìˆœ ì—°ê²°  
- **merge()**: SQLì˜ joinê³¼ ë¹„ìŠ· (í‚¤ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©)  
- **join()**: ì¸ë±ìŠ¤ ê¸°ì¤€ ê²°í•©  

ğŸ‘‰ Titanic ì˜ˆì‹œ: ìŠ¹ê° ë°ì´í„° + ì¶”ê°€ ë°ì´í„°ì…‹ í•©ì¹˜ê¸°  
ğŸ‘‰ Gapminder ì˜ˆì‹œ: ì¸êµ¬ ë°ì´í„°ì™€ GDP ë°ì´í„° ë³‘í•©  


### 7. Groupbyì™€ í”¼ë²— í…Œì´ë¸”
- **groupby()**: ê·¸ë£¹ë³„ ì§‘ê³„ (ì˜ˆ: í‰ê· , í•©ê³„)  
- **pivot_table()**: í–‰/ì—´ ê¸°ì¤€ ì§‘ê³„ ê²°ê³¼ë¥¼ í‘œ í˜•íƒœë¡œ ë³€í™˜  


### âœ… ì²´í¬í¬ì¸íŠ¸
- Pandas DataFrameì€ íƒìƒ‰ â†’ í´ë¦¬ë‹ â†’ ê°€ê³µ â†’ ë¶„ì„ â†’ ì‹œê°í™”ê¹Œì§€ í•œ ë²ˆì— ì´ì–´ì§„ë‹¤.  
- ê²°ì¸¡ê°’/ì¤‘ë³µê°’/ì´ìƒì  ì²˜ë¦¬ëŠ” ë°ì´í„° ë¶„ì„ì˜ ê¸°ë³¸ê¸°ë‹¤.  
- ë¬¸ìì—´ê³¼ ìˆ«ì ë°ì´í„°ë¥¼ ê°€ê³µí•˜ëŠ” ë‹¤ì–‘í•œ ë°©ë²•ì´ ì¡´ì¬í•œë‹¤.  
- ë‚ ì§œ/ì‹œê°„ ë°ì´í„°ì™€ ê·¸ë£¹í™” ê¸°ëŠ¥ì„ í™œìš©í•˜ë©´ ì‹œê³„ì—´ ë¶„ì„ê¹Œì§€ ê°€ëŠ¥í•˜ë‹¤.  
- `concat()`, `merge()`, `groupby()`, `pivot_table()`ì€ ë°ì´í„° ë¶„ì„ ì‹¤ë¬´ì—ì„œ ë°˜ë“œì‹œ ìµí˜€ì•¼ í•˜ëŠ” í•µì‹¬ í•¨ìˆ˜ë‹¤.

### ì‹¤ì „í˜• ì¶”ê°€ 5ë¬¸ì œ

In [ ]:
import pandas as pd # Titanic ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
titanic = pd.read_csv("data/titanic.csv") 
# Bike Sharing ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
bike = pd.read_csv("data/bike_sharing.csv")

### ë¬¸ì œ 1. ì„±ë³„ê³¼ ìƒì¡´ë¥  ê´€ê³„ ë¶„ì„ (Titanic)
Titanic ë°ì´í„°ì—ì„œ ì„±ë³„(`Sex`)ì— ë”°ë¥¸ ìƒì¡´ë¥ ì„ ë¹„êµí•˜ì„¸ìš”.  
- ê° ì„±ë³„ ê·¸ë£¹ë³„ ìƒì¡´ë¥ ì„ ê³„ì‚°í•˜ì„¸ìš”.  
- ê²°ê³¼ë¥¼ DataFrame í˜•íƒœ(`sex`, `survival_rate`)ë¡œ ì¶œë ¥í•˜ì„¸ìš”.  
- ì–´ë–¤ ì„±ë³„ì´ ë” ë†’ì€ ìƒì¡´ë¥ ì„ ë³´ì˜€ëŠ”ì§€ë„ ë¶„ì„í•´ ë³´ì„¸ìš”.

<details><summary>ì •ë‹µ</summary>

```python
# ì„±ë³„ë³„ ìƒì¡´ë¥  ê³„ì‚°
survival_by_sex = titanic.groupby("Sex")["Survived"].mean().reset_index()
survival_by_sex.columns = ["sex", "survival_rate"]

print(survival_by_sex)

# ë¶„ì„: femaleì˜ ìƒì¡´ë¥ ì´ í›¨ì”¬ ë†’ìŒ
```

</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 2. ê°ì‹¤ ë“±ê¸‰ê³¼ ë‚˜ì´ì˜ ê´€ê³„ (Titanic)
Titanic ë°ì´í„°ì—ì„œ ê°ì‹¤ ë“±ê¸‰(`Pclass`)ë³„ ìŠ¹ê°ì˜ í‰ê·  ë‚˜ì´ë¥¼ êµ¬í•˜ì„¸ìš”.  
- ê²°ì¸¡ì¹˜ëŠ” ì œì™¸í•˜ê³  ê³„ì‚°í•˜ì„¸ìš”.  
- ê²°ê³¼ë¥¼ `pclass`, `mean_age` í˜•íƒœë¡œ ì¶œë ¥í•˜ì„¸ìš”.  
- ê²°ê³¼ë¥¼ ë³´ê³ , ë“±ê¸‰ë³„ ë‚˜ì´ì— ì–´ë–¤ ê²½í–¥ì´ ìˆëŠ”ì§€ í•´ì„í•´ ë³´ì„¸ìš”.

<details><summary>ì •ë‹µ</summary>

```python
# ê²°ì¸¡ì¹˜ ì œì™¸ í›„ í‰ê·  ë‚˜ì´ ê³„ì‚°
age_by_class = titanic.groupby("Pclass")["Age"].mean().reset_index()
age_by_class.columns = ["pclass", "mean_age"]

print(age_by_class)

# ë¶„ì„: ë³´í†µ ìƒìœ„ ë“±ê¸‰(Pclass=1)ì´ í‰ê·  ë‚˜ì´ê°€ ë†’ìŒ
```

</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 3. ìš”ì¼ë³„ ìì „ê±° ëŒ€ì—¬ëŸ‰ íŒ¨í„´ (Bike Sharing)
Bike Sharing ë°ì´í„°ì—ì„œ ë‚ ì§œ(`dteday`)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ìš”ì¼ë³„(`weekday`) í‰ê·  ëŒ€ì—¬ëŸ‰(`cnt`)ì„ êµ¬í•˜ì„¸ìš”.  
- ìš”ì¼ì€ 0=ì¼ìš”ì¼, 6=í† ìš”ì¼ì…ë‹ˆë‹¤.  
- ê²°ê³¼ë¥¼ ìš”ì¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì¶œë ¥í•˜ì„¸ìš”.  
- ê°€ì¥ ëŒ€ì—¬ëŸ‰ì´ ë§ì€ ìš”ì¼ê³¼ ì ì€ ìš”ì¼ì„ ë¶„ì„í•˜ì„¸ìš”.

<details><summary>ì •ë‹µ</summary>

```python
# ìš”ì¼ë³„ í‰ê·  ëŒ€ì—¬ëŸ‰
bike['weekday'] = pd.to_datetime(bike['datetime']).dt.weekday

cnt_by_weekday = bike.groupby("weekday")["count"].mean().reset_index()

print(cnt_by_weekday)

# ë¶„ì„: ì£¼ë§(í† /ì¼)ë³´ë‹¤ í‰ì¼ íŠ¹ì • ìš”ì¼(ì˜ˆ: ëª©/ê¸ˆ)ì— ë” ë§ì„ ìˆ˜ë„ ìˆìŒ
```

</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

In [ ]:
bike['weather'].unique()

### ë¬¸ì œ 4. ë‚ ì”¨ê°€ ëŒ€ì—¬ëŸ‰ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ (Bike Sharing)
Bike Sharing ë°ì´í„°ì—ì„œ ë‚ ì”¨ ìƒí™©(`weather`)ì— ë”°ë¼ í‰ê·  ëŒ€ì—¬ëŸ‰(`count`)ì„ êµ¬í•˜ì„¸ìš”.  
- `weather`: 1=ë§‘ìŒ, 2=íë¦¼, 3=ë¹„/ëˆˆ, 4=ì‹¬ê°í•œ ë‚ ì”¨ë¡œ ê°€ì •
- í‰ê·  ëŒ€ì—¬ëŸ‰ ì°¨ì´ë¥¼ ë§‰ëŒ€ê·¸ë˜í”„ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.  
- ë‚ ì”¨ê°€ ìì „ê±° ëŒ€ì—¬ëŸ‰ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì— ëŒ€í•´ í•´ì„í•´ ë³´ì„¸ìš”.

<details><summary>ì •ë‹µ</summary>

```python
import matplotlib.pyplot as plt

count_by_weather = bike.groupby("weather")["count"].mean().reset_index()

# ì‹œê°í™”
plt.bar(count_by_weather["weather"], count_by_weather["count"])
plt.xlabel("Weather Situation")
plt.ylabel("Average Rentals")
plt.title("Bike Rentals by Weather")
plt.show()

# ë¶„ì„: ë§‘ì„ ë•Œ ëŒ€ì—¬ëŸ‰ì´ ê°€ì¥ ë§ê³ , ë‚˜ì ìˆ˜ë¡ ê¸‰ê°
```

</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”

### ë¬¸ì œ 5. ë‹¤ì¤‘ ì¡°ê±´ ë¶„ì„ - ìƒì¡´ë¥  & ë‚˜ì´ (Titanic)
Titanic ë°ì´í„°ì—ì„œ ìŠ¹ê°ì„ ë‘ ê·¸ë£¹ìœ¼ë¡œ ë‚˜ëˆ ì„œ ìƒì¡´ë¥ ì„ ë¹„êµí•˜ì„¸ìš”.  
- ê·¸ë£¹ 1: 18ì„¸ ì´í•˜ ìŠ¹ê° (Children)  
- ê·¸ë£¹ 2: 19ì„¸ ì´ìƒ ìŠ¹ê° (Adults)  
- ê° ê·¸ë£¹ì„ ì„±ë³„(`Sex`)ê¹Œì§€ ë‚˜ëˆ ì„œ ìƒì¡´ë¥ ì„ ê³„ì‚°í•˜ì„¸ìš”.  
- ê²°ê³¼ë¥¼ `group`, `sex`, `survival_rate` í˜•íƒœë¡œ ì¶œë ¥í•˜ê³ , ì–´ë–¤ ê·¸ë£¹ì´ ê°€ì¥ ë†’ì€ ìƒì¡´ë¥ ì„ ë³´ì´ëŠ”ì§€ í•´ì„í•˜ì„¸ìš”.

<details><summary>ì •ë‹µ</summary>

```python
# ë‚˜ì´ ê·¸ë£¹ ì»¬ëŸ¼ ìƒì„±
titanic["AgeGroup"] = titanic["Age"].apply(
    lambda x: "Child" if x <= 18 else "Adult"
)

# ê·¸ë£¹ë³„ + ì„±ë³„ ìƒì¡´ë¥ 
survival = titanic.groupby(["AgeGroup", "Sex"])["Survived"].mean().reset_index()
survival.columns = ["group", "sex", "survival_rate"]

print(survival)

# ë¶„ì„: female childrenì˜ ìƒì¡´ë¥ ì´ ê°€ì¥ ë†’ìŒ
```

</details>

In [ ]:
# ì—¬ê¸°ì— ì‘ì„±í•˜ì„¸ìš”